@import '~antd/dist/antd.less';


.layout {
  width: 100%;
  height: 100%;

  .header {
    display: flex;
    background-color: #fff;
  }

  .flexItem {
    flex: 1;
  }
}


.trademark {
  height: @layout-header-height;

  display: flex;
  align-items: center;
  justify-content: center;

  .brand {
    background: rgba(255, 255, 255, 0.3);
    color: @text-color-dark;
    padding: @padding-xss @padding-xs;
    border-radius: @border-radius-base;
    font-size: @font-size-lg + 4px;
  }
}
